<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>El Hierro - Jour 3</title>
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="style.css">
</head>
<body class="" id="3">
	
	<div class="pageWrap">		
		
		<div id="map">
			
		</div>
	
		<div class="main">
			
<div class="title">
	<img src="data/3/img/hi/GOPR6065.JPG">
	<div class="title-overlay "></div>
	<h1>
		<span class="title-date">Jour 3. 26 janvier</span>
		<span class="title-main">Prendre des risques</span>
		<span class="title-place">Risco de los Herreños / Las Playas → Isora</span>
	</h1>		

</div>

<div class="imgprv">
	<div class="imgprv-inner js-imgprv"></div>
</div>


<div class="overlayContainer overlayContainer--left back concealed">
	&nbsp;
	<div style="margin: 500px 0 300px; padding: 800px 0 800px;" data-trigger data-gpstrace="0_car" data-mapview="12/27.743707771441965/-18.011741638183594" data-concealparent>
		<div class="overlay-inner" data-trigger data-revealparent>
			<p>
				Aujourd’hui trek autour du Golfe de Las Playas. Un autre bout du monde dans son genre. On y arrive après une longue route cotiêre, une base militaire et deux étroits tunnels.
			</p>

			<img src="extra/hr0.svg">
			
			<p>
				Au bout, la route s’arrête brusquement et mon petit périple commence. Sous un soleil brutal : à défaut de mieux, je me fabrique un keffieh de fortune avec un pull trempé dans la mer. Première imprudence de la journée.
			</p>
		</div>
	</div>
	&nbsp;
</div>


<div class="fullpage">
	<img src="data/3/img/hi/GOPR6047.JPG">
</div>

<div class="overlayContainer overlayContainer--right concealed">
	&nbsp;
	<div style="margin: 500px 0 0; padding: 0 0 1600px" data-trigger data-gpstrace="1_feet" data-gpstraceend="0.35" data-mapview="14/27.72858998882656/-17.968482971191406" data-revealparent data-concealparent>
	
		
		<div class="overlay-inner">
		
			<img src="extra/hr2.svg">	

			<p>
				L’ascension est difficile. Un petit kilomètre vertical sur un mince sentier pas toujours facile à identifier, très raide. Mais l’endroit est à couper le souffle. Aride et vertigineux.
			</p>
				
			<p class="citation citation--right">
				Risco de<br>las casas
			</p>

			<p style="margin-top: 180px">
				Certains passages sont ensevelis sous des éboulis. Je suis content d’avoir à monter cette partie plutôt que d'avoir à la descendre, et aussi un poil inquiet pour la redescente à venir - par l’autre côté du golfe.
			</p>

						<img src="extra/hr2.svg">	

		
		</div>

	</div>
</div>

<div class="fullpage">
	<img src="data/3/img/hi/GOPR6069.JPG">
</div>


<div class="overlayContainer overlayContainer--right concealed">
	&nbsp;
	<div style="margin: 500px 0 0; padding: 0 0 1600px" data-trigger data-gpstrace="1_feet" data-gpstracestart="0.35" data-gpstraceend="0.66">
				
		<div class="overlay-inner" style="padding-bottom: 900px" data-trigger data-revealparent data-concealparent>
			<p>
				La montée se casse subitement et devient plus douce, la pente aride fait place à une version canarienne du jardin d’Eden, faite de petits murs de pierre basaltique, d’un tapis de verdure luxuriant, de pins, d’amandiers en fleurs. 
			</p>

			<img src="data/3/extra/GOPR6079.JPG" class="illu">

			<p>Le tout baigné d’un soleil froid et d'une quiétude apaisante.</p>	

			<img src="extra/hr1.svg">	
		</div>
	</div>

	<div style="height: 1000px" data-trigger data-gpstrace="1_feet" data-gpstracestart="0.65" data-gpstraceend="0.855" data-geocodedimages>
		<!-- js will handle displaying those images -->
		<div class="geocodedImages">
			<img src="data/3/img/medium/GOPR6047.JPG" data-coords="27.730218,-17.944728">
<img src="data/3/img/medium/GOPR6053.JPG" data-coords="27.710737,-17.962786">
<img src="data/3/img/medium/GOPR6056.JPG" data-coords="27.712117,-17.966360">
<img src="data/3/img/medium/GOPR6061.JPG" data-coords="27.712463,-17.967226">
<img src="data/3/img/medium/GOPR6065.JPG" data-coords="27.713097,-17.971107">
<img src="data/3/img/medium/GOPR6070.JPG" data-coords="27.712811,-17.973221">
<img src="data/3/img/medium/GOPR6073.JPG" data-coords="27.722869,-17.974815">
<img src="data/3/img/medium/GOPR6079.JPG" data-coords="27.729145,-17.974081">
<img src="data/3/img/medium/GOPR6086.JPG" data-coords="27.736720,-17.970940">
<img src="data/3/img/medium/GOPR6092.JPG" data-coords="27.740640,-17.954013">
<img src="data/3/img/medium/GOPR6096.JPG" data-coords="27.738717,-17.950241">
<img src="data/3/img/medium/GOPR6099.JPG" data-coords="27.738306,-17.951278">
<img src="data/3/img/medium/GOPR6051.JPG" data-coords="27.711753,-17.958136">
<img src="data/3/img/medium/GOPR6054.JPG" data-coords="27.710738,-17.963756">
<img src="data/3/img/medium/GOPR6058.JPG" data-coords="27.712100,-17.966515">
<img src="data/3/img/medium/GOPR6062.JPG" data-coords="27.713867,-17.968522">
<img src="data/3/img/medium/GOPR6068.JPG" data-coords="27.712601,-17.972428">
<img src="data/3/img/medium/GOPR6071.JPG" data-coords="27.713178,-17.973799">
<img src="data/3/img/medium/GOPR6074.JPG" data-coords="27.724795,-17.974523">
<img src="data/3/img/medium/GOPR6083.JPG" data-coords="27.730064,-17.973335">
<img src="data/3/img/medium/GOPR6087.JPG" data-coords="27.737749,-17.969788">
<img src="data/3/img/medium/GOPR6093.JPG" data-coords="27.740921,-17.954888">
<img src="data/3/img/medium/GOPR6097.JPG" data-coords="27.738495,-17.950714">
<img src="data/3/img/medium/GOPR6052.JPG" data-coords="27.710409,-17.962085">
<img src="data/3/img/medium/GOPR6055.JPG" data-coords="27.710767,-17.963835">
<img src="data/3/img/medium/GOPR6059.JPG" data-coords="27.712433,-17.967229">
<img src="data/3/img/medium/GOPR6063.JPG" data-coords="27.713955,-17.968883">
<img src="data/3/img/medium/GOPR6069.JPG" data-coords="27.712462,-17.973035">
<img src="data/3/img/medium/GOPR6072.JPG" data-coords="27.721786,-17.974921">
<img src="data/3/img/medium/GOPR6076.JPG" data-coords="27.729107,-17.974100">
<img src="data/3/img/medium/GOPR6085.JPG" data-coords="27.731552,-17.972242">
<img src="data/3/img/medium/GOPR6089.JPG" data-coords="27.747250,-17.957296">
<img src="data/3/img/medium/GOPR6095.JPG" data-coords="27.739001,-17.949606">
<img src="data/3/img/medium/GOPR6098.JPG" data-coords="27.738316,-17.951069">

		</div>
	</div>

</div>


<div class="fullpage fullpage--centered" style="margin: 0 0 1000px">
	<div class="fullpage-text">
			<p>
				Le jour commence à faiblir sur le plateau, quand j’arrive au début du sentier censé me permettre de redescendre dans le Golfe pour rejoindre mon véhicule. 
			</p>

			<p>
				<img src="data/3/extra/GOPR6101.jpg" class="illu">
			</p>
			<p class="citation citation--sm">
				Sentier fermé pour cause d’éboulis.
			</p>
	</div>

</div>

<div data-trigger data-mapview="13/27.7288/-17.9417">
	
	<div class="storyBlock storyBlock--left"  style="margin-top: 900px; padding-bottom: 900px" data-trigger>
		<p class="storyBlock-inner">Après une petite sueur froide, je contemple mes options :</p>
	</div>

	<div class="storyBlock storyBlock--left" style="padding-bottom: 900px" data-trigger data-customtrigger="hypotheticalpath_0">
		<p class="storyBlock-inner">1. tenter de passer quand même : les éboulis seront moins un problème que de rester sur le sentier et je risque de finir en roulant;</p>
	</div>

	<div class="storyBlock storyBlock--left" style="padding-bottom: 900px"  data-trigger data-customtrigger="hypotheticalpath_1">
		<p class="storyBlock-inner">2. retour par où je suis arrivé : pas très motivant, dangereux en descente et à la tombée de la nuit;  </p>
	</div>

	<div class="storyBlock storyBlock--left" style="padding-bottom: 900px" data-trigger data-customtrigger="hypotheticalpath_2">
		<p class="storyBlock-inner">3. faire un grand détour par un autre sentier et un très long bout de route. Dont un passage dans un tunnel interdit au piétons;</p>
	</div>

	<div class="storyBlock storyBlock--left" style="padding-bottom: 900px" data-trigger data-customtrigger="hypotheticalpath_end">
		<p class="storyBlock-inner">4. me préparer un petit nid dans les cactus et attendre le lendemain.</p>
	</div>

	<div class="storyBlock storyBlock--left" style="margin: 900px 0 900px" data-trigger data-mapview="15/27.738124312093728/-17.951531410217285">
		<p class="storyBlock-inner">Dans la précipitation, l’option 3, le grand détour, semble viable. Je pars donc en flèche avec l’espoir d’arriver avant la nuit.
		</p>
	</div>

</div>

<div class="overlayContainer overlayContainer--right concealed">
	<div style="margin: 0; padding: 1200px 0 0" data-trigger data-gpstrace="1_feet" data-gpstracestart="0.855" data-gpstracefollow data-customtrigger="showTimeMarker" >

		<div class="overlay-inner" data-trigger data-revealparent>
			<p>
			Il me faut 30 minutes et l’arrivée d’un gros nuage bien menaçant pour réaliser l’ineptie de mon projet. Je finirais donc par appeler un taxi, au milieu de nulle part. J’arriverais donc à bon port, mais avec un porte-monnaie allégé et surtout un orgueil d’aventurier en herbe mis à mal. Un aventurier bourgeois somme toute.
			</p>
		</div>
	</div>
</div>


<div style="margin: 1200px 0 0; height: 1000px;" data-trigger data-gpstrace="2_taxi" data-mapview="13/27.7690/-17.9281"></div>

		</div>
	</div>

	<div class="modal">
		<div class="modal-coords js-modal-coords"></div>
		<div class="modal-inner">
			<div class="js-modal-img">
				
			</div>
		</div>
	</div>

	<script type="text/template" class="js-tpl-gps-feet">
		<div class="picto picto--feet">
			<svg version="1.1" viewBox="23.821 10.588 53.93 49.691" class="picto-inner">
				<path d="M77.134,20.712c0.823,0.823,0.823,2.222,0,3.045l-8.148,8.148l0,0l-0.247,0.247c-0.822,0.823-2.222,0.823-3.045,0
	l-0.082-0.329l0,0l-3.045-3.045l-11.441,11.44l4.939,4.938c0.493,0.494,0.822,1.235,0.822,1.893c0,0.659-0.247,1.399-0.822,1.893
	L45.529,59.478c-1.07,1.069-2.798,1.069-3.786,0l-0.247-0.247c-1.07-1.07-1.07-2.799,0-3.786l8.312-8.312l-6.173-6.173l-4.197,4.197
	c0,0,0,0-0.083,0.083c-0.083,0.082-0.165,0.165-0.165,0.247l-10.535,10.37c-1.07,1.07-2.798,1.07-3.786,0l-0.247-0.246
	c-1.07-1.07-1.07-2.799,0-3.786l10.535-10.535c0,0,0,0,0.083-0.083c0.083-0.082,0.165-0.165,0.165-0.247l5.844-5.844
	c0.082-0.083,0.165-0.165,0.247-0.247l13.662-13.663l-2.387-2.387l-6.584,6.584c-0.823,0.823-2.222,0.823-3.045,0l-0.247-0.247
	c-0.823-0.823-0.823-2.222,0-3.045l8.148-8.148l0,0l0.247-0.247c0.823-0.823,2.222-0.823,3.046,0l0.246,0.247l0,0l8.148,8.148
	c0.082,0.082,0.164,0.247,0.247,0.329l1.151,1.152c0,0,0,0,0.083,0.082l3.374,3.375l6.585-6.584c0.823-0.823,2.222-0.823,3.045,0
	L77.134,20.712 M67.175,10.588c-3.128,0-5.597,2.552-5.597,5.597c0,3.045,2.551,5.597,5.597,5.597c3.128,0,5.597-2.551,5.597-5.597
	C72.771,13.14,70.303,10.588,67.175,10.588z"/>
			</svg>


		</div>
	</script>

	<script type="text/template" class="js-tpl-gps-car">
				<% if (data && data.taxi) { %>
				<div class="picto-taxiAddon">taxi</div>
			<% } %>
		<div class="picto picto--car">
			<svg version="1.1" viewBox="0 0 53.238 43.185" class="picto-inner">
	<path d="M53.238,13.903h-3.41L42.412,0H10.826L3.41,13.903H0v21.293h5.325v7.988h7.097v-7.989h28.396v7.989h7.095v-7.989h5.327
		V13.903L53.238,13.903z M14.018,5.328h25.2l4.574,8.575H9.445L14.018,5.328z M8.872,28.983c-2.45,0-4.433-1.982-4.433-4.433
		c0-2.451,1.984-4.437,4.433-4.437c2.45,0,4.437,1.986,4.437,4.437C13.309,27,11.322,28.983,8.872,28.983z M44.366,28.983
		c-2.453,0-4.437-1.982-4.437-4.433c0-2.451,1.985-4.437,4.437-4.437c2.449,0,4.436,1.986,4.436,4.437
		C48.801,27,46.815,28.983,44.366,28.983z"/>
			</svg>
		</div>
	</script>



	<script type="text/template" class="js-tpl-svg-patterns">
		<pattern id="hatch_diagonal" patternUnits="userSpaceOnUse" x="0" y="0" width="3" height="3">
		  <g style="fill:none; stroke:red; stroke-width:1">
		    <path d="M0,0 l10,10"></path>
		    
		    
		  </g>
		</pattern>
	</script>
		

	<script src="http://d3js.org/topojson.v1.min.js"></script>  	
	<script src="app/js/main.js"></script>

</body>
</html>