/* required styles */
@import url("//hello.myfonts.net/count/2df860");
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0; }

.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none; }

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none; }

.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block; }

/* map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img {
  max-width: none !important; }

/* stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important; }

.leaflet-tile {
  filter: inherit;
  visibility: hidden; }

.leaflet-tile-loaded {
  visibility: inherit; }

.leaflet-zoom-box {
  width: 0;
  height: 0; }

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg {
  -moz-user-select: none; }

.leaflet-tile-pane {
  z-index: 2; }

.leaflet-objects-pane {
  z-index: 3; }

.leaflet-overlay-pane {
  z-index: 4; }

.leaflet-shadow-pane {
  z-index: 5; }

.leaflet-marker-pane {
  z-index: 6; }

.leaflet-popup-pane {
  z-index: 7; }

.leaflet-vml-shape {
  width: 1px;
  height: 1px; }

.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute; }

/* control positioning */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto; }

.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none; }

.leaflet-top {
  top: 0; }

.leaflet-right {
  right: 0; }

.leaflet-bottom {
  bottom: 0; }

.leaflet-left {
  left: 0; }

.leaflet-control {
  float: left;
  clear: both; }

.leaflet-right .leaflet-control {
  float: right; }

.leaflet-top .leaflet-control {
  margin-top: 10px; }

.leaflet-bottom .leaflet-control {
  margin-bottom: 10px; }

.leaflet-left .leaflet-control {
  margin-left: 10px; }

.leaflet-right .leaflet-control {
  margin-right: 10px; }

/* zoom and fade animations */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1; }

.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1); }

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden; }

/* cursors */
.leaflet-clickable {
  cursor: pointer; }

.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab; }

.leaflet-popup-pane,
.leaflet-control {
  cursor: auto; }

.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing; }

/* visual tweaks */
.leaflet-container {
  background: #ddd;
  outline: 0; }

.leaflet-container a {
  color: #0078A8; }

.leaflet-container a.leaflet-active {
  outline: 2px solid orange; }

.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5); }

/* general typography */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; }

/* general toolbar styles */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px; }

.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black; }

.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block; }

.leaflet-bar a:hover {
  background-color: #f4f4f4; }

.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none; }

.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb; }

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px; }

/* zoom control */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px; }

.leaflet-control-zoom-out {
  font-size: 20px; }

.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px; }

.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px; }

/* layers control */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px; }

.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px; }

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px; }

.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px; }

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none; }

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative; }

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff; }

.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px; }

.leaflet-control-layers label {
  display: block; }

.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px; }

/* attribution and scale controls */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0; }

.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333; }

.leaflet-control-attribution a {
  text-decoration: none; }

.leaflet-control-attribution a:hover {
  text-decoration: underline; }

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px; }

.leaflet-left .leaflet-control-scale {
  margin-left: 5px; }

.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px; }

.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5); }

.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px; }

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777; }

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none; }

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box; }

/* popup */
.leaflet-popup {
  position: absolute;
  text-align: center; }

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px; }

.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4; }

.leaflet-popup-content p {
  margin: 18px 0; }

.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden; }

.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4); }

.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent; }

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999; }

.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; }

.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1; }

.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678); }

.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px; }

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999; }

/* div icon */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666; }

.leaflet-control-graphicscale-inner {
  margin-left: 10px; }
  .leaflet-control-graphicscale-inner .units {
    display: inline-block; }
  .leaflet-control-graphicscale-inner .subunits {
    display: none; }
  .leaflet-control-graphicscale-inner .label {
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    opacity: 1;
    -webkit-transition: opacity 0.4s linear;
    -moz-transition: opacity 0.4s linear;
    -ms-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear; }
  .leaflet-control-graphicscale-inner .divisionLabel {
    right: 0;
    margin-right: -50px; }
  .leaflet-control-graphicscale-inner .zeroLabel, .leaflet-control-graphicscale-inner .subunitsLabel {
    left: 0;
    margin-left: -50px; }
  .leaflet-control-graphicscale-inner .division {
    display: inline-block;
    position: relative;
    width: 40px;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -ms-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; }
    .leaflet-control-graphicscale-inner .division .line, .leaflet-control-graphicscale-inner .division .line2 {
      border-style: solid;
      position: relative; }
    .leaflet-control-graphicscale-inner .division .line2 {
      height: 0;
      border-width: 0; }
    .leaflet-control-graphicscale-inner .division .line {
      height: 6px;
      border-width: 1px 1px 1px 0; }
  .leaflet-control-graphicscale-inner .units .division:first-child .line {
    border-left-width: 1px; }
  .leaflet-control-graphicscale-inner .subunits .division .line {
    border-width: 1px 0 1px 1px; }
  .leaflet-control-graphicscale-inner .fill {
    position: relative; }
  .leaflet-control-graphicscale-inner.showsubunits .subunits {
    display: inline-block; }
  .leaflet-control-graphicscale-inner.double .division .line2 {
    height: 6px;
    border-width: 0 1px 1px 0; }
  .leaflet-control-graphicscale-inner.double .units .division:first-child .line2 {
    border-left-width: 1px; }
  .leaflet-control-graphicscale-inner.double .subunits .division .line2 {
    border-width: 0 0 1px 1px; }
  .leaflet-control-graphicscale-inner.double .label {
    margin-bottom: 14px; }
  .leaflet-control-graphicscale-inner.filled .fill {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .leaflet-control-graphicscale-inner.filled-line .line .fill {
    height: 2px;
    top: 2px; }
  .leaflet-control-graphicscale-inner.filled-line.double .fill {
    height: 2px;
    top: 2px; }
  .leaflet-control-graphicscale-inner.filled-hollow .fill {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px; }
  .leaflet-control-graphicscale-inner .division.hidden {
    width: 0; }
    .leaflet-control-graphicscale-inner .division.hidden .line, .leaflet-control-graphicscale-inner .division.hidden .line2 {
      height: 0;
      border-width: 0; }
    .leaflet-control-graphicscale-inner .division.hidden .label:not(.subunitsLabel) {
      opacity: 0; }

@font-face {
  font-family: 'neutonextralight';
  src: url("fonts/neuton-extralight-webfont.eot");
  src: url("fonts/neuton-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/neuton-extralight-webfont.woff2") format("woff2"), url("fonts/neuton-extralight-webfont.woff") format("woff"), url("fonts/neuton-extralight-webfont.ttf") format("truetype"), url("fonts/neuton-extralight-webfont.svg#neutonlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'neutonregular';
  src: url("fonts/neuton-regular-webfont.eot");
  src: url("fonts/neuton-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/neuton-regular-webfont.woff2") format("woff2"), url("fonts/neuton-regular-webfont.woff") format("woff"), url("fonts/neuton-regular-webfont.ttf") format("truetype"), url("fonts/neuton-regular-webfont.svg#neutonregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'neutonitalic';
  src: url("fonts/neuton-italic-webfont.eot");
  src: url("fonts/neuton-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/neuton-italic-webfont.woff2") format("woff2"), url("fonts/neuton-italic-webfont.woff") format("woff"), url("fonts/neuton-italic-webfont.ttf") format("truetype"), url("fonts/neuton-italic-webfont.svg#neutonregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'LuloCleanOne';
  src: url("fonts/2DF860_1_0.eot");
  src: url("fonts/2DF860_1_0.eot?#iefix") format("embedded-opentype"), url("fonts/2DF860_1_0.woff2") format("woff2"), url("fonts/2DF860_1_0.woff") format("woff"), url("fonts/2DF860_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'LuloCleanOne-Bold';
  src: url("fonts/2DF860_2_0.eot");
  src: url("fonts/2DF860_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/2DF860_2_0.woff2") format("woff2"), url("fonts/2DF860_2_0.woff") format("woff"), url("fonts/2DF860_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'LuloCleanThree';
  src: url("fonts/2DF860_3_0.eot");
  src: url("fonts/2DF860_3_0.eot?#iefix") format("embedded-opentype"), url("fonts/2DF860_3_0.woff2") format("woff2"), url("fonts/2DF860_3_0.woff") format("woff"), url("fonts/2DF860_3_0.ttf") format("truetype"); }

@font-face {
  font-family: 'LuloCleanOutline';
  src: url("fonts/2DF860_4_0.eot");
  src: url("fonts/2DF860_4_0.eot?#iefix") format("embedded-opentype"), url("fonts/2DF860_4_0.woff2") format("woff2"), url("fonts/2DF860_4_0.woff") format("woff"), url("fonts/2DF860_4_0.ttf") format("truetype"); }

@font-face {
  font-family: 'LuloCleanOutline-Bold';
  src: url("fonts/2DF860_5_0.eot");
  src: url("fonts/2DF860_5_0.eot?#iefix") format("embedded-opentype"), url("fonts/2DF860_5_0.woff2") format("woff2"), url("fonts/2DF860_5_0.woff") format("woff"), url("fonts/2DF860_5_0.ttf") format("truetype"); }

@font-face {
  font-family: 'LuloCleanFour-Bold';
  src: url("fonts/2DF860_6_0.eot");
  src: url("fonts/2DF860_6_0.eot?#iefix") format("embedded-opentype"), url("fonts/2DF860_6_0.woff2") format("woff2"), url("fonts/2DF860_6_0.woff") format("woff"), url("fonts/2DF860_6_0.ttf") format("truetype"); }

@font-face {
  font-family: 'LuloCleanFour';
  src: url("fonts/2DF860_7_0.eot");
  src: url("fonts/2DF860_7_0.eot?#iefix") format("embedded-opentype"), url("fonts/2DF860_7_0.woff2") format("woff2"), url("fonts/2DF860_7_0.woff") format("woff"), url("fonts/2DF860_7_0.ttf") format("truetype"); }

@font-face {
  font-family: 'LuloCleanTwo';
  src: url("fonts/2DF860_8_0.eot");
  src: url("fonts/2DF860_8_0.eot?#iefix") format("embedded-opentype"), url("fonts/2DF860_8_0.woff2") format("woff2"), url("fonts/2DF860_8_0.woff") format("woff"), url("fonts/2DF860_8_0.ttf") format("truetype"); }

@font-face {
  font-family: 'LuloCleanTwo-Bold';
  src: url("fonts/2DF860_9_0.eot");
  src: url("fonts/2DF860_9_0.eot?#iefix") format("embedded-opentype"), url("fonts/2DF860_9_0.woff2") format("woff2"), url("fonts/2DF860_9_0.woff") format("woff"), url("fonts/2DF860_9_0.ttf") format("truetype"); }

body {
  background-color: #fdf6e9;
  background-image: url("./extra/bg.jpg");
  font-size: 120%;
  font-family: "neutonextralight"; }

p {
  line-height: 2.6rem;
  color: #2c4164; }

.debug [data-trigger] {
  background-color: rgba(255, 0, 0, 0.2);
  border: 2px solid red; }
  .debug [data-trigger].fixed-placeholder {
    border-style: dashed; }
    .debug [data-trigger].fixed-placeholder * {
      opacity: .4; }

.debug .fixed {
  background-color: rgba(255, 0, 255, 0.2); }

.overlayContainer, .fixed, .storyBlock-inner {
  background-color: #fdf6e9;
  box-shadow: 0px 0px 20px rgba(44, 65, 100, 0.2); }

.concealed {
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  transition: opacity 1s linear; }
  .concealed.concealed--revealed {
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    transition: opacity 1s linear;
    opacity: 1; }

.overlay-inner {
  padding: 4rem;
  text-align: center; }
  .overlay-inner .illu {
    width: 100%; }
  .overlay-inner p {
    text-align: left; }
  .overlay-inner .citation {
    position: absolute; }

.illu {
  border-radius: 999px;
  margin: 40px 0 40px; }

.citation {
  font-family: LuloCleanOutline-Bold;
  font-size: 36px;
  margin-top: 30px;
  line-height: 50px;
  /* color: #4bc8b3; */ }

.citation--right {
  margin-left: -150px; }

.citation--sm {
  font-size: 20px;
  font-family: LuloCleanOne;
  color: #fa4861; }

.fullpage {
  background-color: #4bc8b3; }
  .fullpage .fullpage-text {
    padding: 50px 30% 100px; }
  .fullpage.fullpage--centered {
    text-align: center; }
    .fullpage.fullpage--centered img {
      max-width: 300px;
      width: 60%; }
  .fullpage img {
    width: 100%; }

.storyBlock-inner {
  padding: 2rem; }

.imgprv .imgprv-inner, .imgprv img {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-left: 0;
  border-right: 0;
  margin: 0; }

.imgprv .imgprv-inner {
  padding: 2px 0 0 0; }

.imgprv > img {
  padding: 5px 0;
  margin-bottom: -2px; }

.title {
  text-align: center;
  color: #fff;
  font-family: 'neutonextralight';
  font-style: normal;
  font-size: 2rem; }
  .title img {
    width: 100%; }
  .title .title-overlay {
    background-color: #2c4164;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 1; }
    .title .title-overlay.title-overlay--ready {
      -webkit-transition: opacity 10s linear;
      -moz-transition: opacity 10s linear;
      transition: opacity 10s linear;
      opacity: .2; }
  .title h1 {
    position: absolute;
    margin-top: -50%;
    width: 100%;
    font-weight: normal; }
  .title .title-main {
    color: #fff; }
  .title .title-date, .title .title-place {
    display: block; }
  .title .title-date {
    color: #fa4861;
    font-family: 'LuloCleanOne-Bold';
    font-size: 1.2rem; }
  .title .title-place {
    font-size: 1.4rem; }

.modal {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;
  background-color: rgba(44, 65, 100, 0.8); }
  .modal .modal-coords {
    position: absolute;
    z-index: 99;
    bottom: 100px;
    right: 100px;
    font-family: LuloCleanOne;
    color: #fa4861; }

.isModalOpen .modal {
  pointer-events: auto;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear; }

.main {
  position: relative; }

.overlayContainer, .title, .fullpage, .fixed-placeholder, .storyBlock {
  position: relative;
  z-index: 3; }

.back {
  z-index: 1; }

#map {
  z-index: 2; }

.front {
  z-index: 3; }

body:not(.debug) .fixed-placeholder {
  visibility: hidden; }

.overlayContainer--left, .overlayContainer--right {
  width: 400px; }

.overlayContainer--right {
  left: calc(100% - 400px); }

.fixed {
  position: fixed;
  z-index: 3;
  display: none;
  overflow: hidden; }
  .fixed.fixed-bottomLeft {
    bottom: 50px;
    left: 50px;
    right: 50px;
    height: 150px; }
  .fixed.show {
    display: block; }

.storyBlock--left {
  left: 50px;
  width: 50%; }

.geocodedImages {
  display: none; }

.geocoded {
  width: 250px; }

.imgprv {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  pointer-events: none; }
  .imgprv .imgprv-inner {
    position: absolute;
    right: 50px;
    bottom: 100px;
    width: 400px; }
  .imgprv img {
    width: 100%; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 99; }
  .modal .modal-inner {
    left: 10%;
    position: relative; }
    .modal .modal-inner img {
      width: 80%; }

.isModalOpen .modal {
  pointer-events: auto;
  opacity: 1; }

.leaflet-div-icon {
  background: transparent;
  border: 0; }

.gps path {
  stroke: #fa4861;
  stroke-width: 10px;
  stroke-linecap: butt;
  stroke-opacity: .5; }

.gps--car path {
  stroke-dasharray: 8,2; }

.gps--para path {
  stroke-width: 2px;
  stroke-opacity: 1; }

.gps--plane path {
  stroke: url("#hatch_diagonal"); }

.gps--old path {
  stroke: #bc8e96;
  stroke-opacity: .5; }

.picto path {
  fill: #fa4861; }

.picto {
  margin-left: -7px;
  background-color: #fdf6e9;
  width: 20px;
  height: 20px;
  border-radius: 99px;
  border: 1px solid rgba(250, 72, 97, 0.5); }
  .picto .picto-inner {
    transform: scale(0.7);
    transform-origin: 50% 50%; }

.picto--feet .picto-inner {
  transform-origin: 60% 70%; }

.picto--car .picto-inner {
  transform-origin: 50% 80%; }

.picto--para .picto-inner {
  transform-origin: 0% 40%; }

.picto-taxiAddon {
  position: absolute;
  top: -12px;
  left: 0;
  font-family: LuloCleanOne-Bold;
  text-transform: uppercase;
  color: red;
  font-size: 8px; }

.geocodedImage {
  width: 5px;
  height: 5px;
  border-radius: 99px; }

.geocodedImage-inner {
  width: 100%;
  height: 100%;
  border: 3px solid #1c7a6b;
  border-radius: 99px;
  background-color: #4bc8b3;
  box-shadow: 0 0 10px #4bc8b3; }

.torque-title {
  padding: 30px 20px; }
  .torque-title h2 {
    font-family: LuloCleanOne;
    color: #fa4861;
    font-size: 20px; }
  .torque-title img {
    width: 100%;
    margin-top: 30px; }
  .torque-title .torque-legend {
    font-size: 12px; }

.torque-arrow {
  top: 50%;
  position: fixed; }

.torque-arrow-inner {
  background-color: #fa4861;
  width: 100px;
  height: 100px;
  opacity: .5;
  margin-top: -65px;
  margin-left: -50px;
  transform: rotate(45deg); }

.torque-month {
  height: 33.33%;
  font-size: 20px;
  position: relative; }

.torque-month-label {
  font-family: LuloCleanOne;
  color: #545c8f;
  margin-left: 20px; }

p.torque-event {
  font-size: 16px;
  line-height: 16px;
  margin: 0 30px;
  position: absolute; }

.torqueLegend {
  color: #897e65; }

.torqueLegend-mag {
  width: 90px;
  margin-top: 10px; }

.torqueLegend-heatmap {
  width: 200px;
  background: #fff066;
  /* Old browsers */
  background: -moz-linear-gradient(left, #fff066 0%, #ffc673 50%, #fa4861 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fff066), color-stop(50%, #ffc673), color-stop(100%, #fa4861));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #fff066 0%, #ffc673 50%, #fa4861 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #fff066 0%, #ffc673 50%, #fa4861 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #fff066 0%, #ffc673 50%, #fa4861 100%);
  /* IE10+ */
  background: linear-gradient(to right, #fff066 0%, #ffc673 50%, #fa4861 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff066', endColorstr='#fa4861',GradientType=1 );
  /* IE6-9 */ }

.torqueLegend-left, .torqueLegend-right {
  display: inline-block; }

.torqueLegend-right {
  float: right; }

.torqueLegend-mag-circles div {
  display: inline-block;
  color: #982636; }

.torqueLegend-mag-circles p {
  display: inline-block;
  background-color: #982636;
  border-radius: 99px;
  margin: 0; }

.torqueLegend-mag-circles p:nth-child(2) {
  width: 5px;
  height: 5px; }

.torqueLegend-mag-circles p:nth-child(3) {
  width: 10px;
  height: 10px; }

.torqueLegend-mag-circles p:nth-child(4) {
  width: 17px;
  height: 17px; }

body {
  width: 100%;
  margin: 0; }

#map {
  width: 100%;
  height: 100%;
  position: fixed; }

.timelapse {
  position: fixed;
  width: 256px;
  height: 192px;
  bottom: 50px;
  right: 50px;
  transform: scale(2);
  transform-origin: bottom right; }

.timelapse-low div, .timelapse-medium img {
  width: 256px;
  height: 192px;
  background-repeat: no-repeat; }

.leaflet-container {
  background-color: transparent; }
